@import 'mixins.scss';

body {
  margin: 0 !important;
  @include standardTransitions();
}

#root {
  display: block;
  width: 100%;
}

.MuiSelect-root {
  &::before {
    border-bottom-color: '#222222' !important;
  }
}
